<h4 class="btn btn-danger">mongoposts.handlebars</h4>
<p>
    {{theurl}}
</p>

<!--{{mongoposts}}-->

{{#each mongoposts}}
    <div class="row">

        <div class="col-xs-6">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4> {{this.title}}, {{this.id}} </h4>
                    <p> {{this.author}} </p>
                </div>

                <div class="panel-body">
                    <p> {{this.body}} </p>
                    <p>
                        <!--<a href="http://opsvm3:3000/mongoposts/{{this._id}}"> {{this._id}} </a>-->
                        _id:
                        <a href="/mongoposts/{{this._id}}"> {{this._id}} </a>
                        comment:
                        <a href="/mongocomments/{{this._id}}"> {{this._id}} </a>
                    </p>
                </div>

            </div>
        </div>

    </div>
{{/each}}




