<h4 class="bg-info"> weather.handlebars </h4>

<div class="col-xs-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p> Country: {{country1}} </p>
        </div>

        <div class="panel-body">
            <p> Message: {{message1}} </p>
            <p> Sunrise: {{sunrise1}} </p>
        </div>
    </div>
</div>

<div class="col-xs-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p> Country: {{country2}} </p>
        </div>

        <div class="panel-body">
            <p> Message: {{message2}} </p>
            <p> Sunrise: {{sunrise2}} </p>
        </div>
    </div>
</div>



